.entry {
  background: lightgrey;
}

.message {
  padding: 5px;
}

.timestamp {
  font-size: 90%;
  color: grey;
  padding: 5px;
}

.entry.error {
  color: red;
}

.entry.warning {
  color: orange;
}

.entries {
}

.searchbox {
  padding: 10px;
  box-sizing: border-box;
}

input[type="search"] {
  width: 100%;
}
